<nav class="left-navar">
  <ul class="nav nav-pills flex-column nav-fill">
    <li class="nav-item dropdown-toggle" (click)="toggleDropdown()">
      <span class="nav-link">menu</span>
    </li>
    <li class="nav-item dropdown-toggle" (click)="toggleDropdown()">
      <span class="nav-link">filtro</span>
    </li>
  </ul>
  @if (this.isOpen()) {
    <ul class="dropdown-menu show position-static mt-2 custom">
      @for (item of stateList; track item) {
        <li>
          <button class="dropdown-item" (click)="ChangeState(item)">
            {{ item }}
          </button>
        </li>
      }
    </ul>
  }
</nav>
