<p>navar works!</p>
<nav >
  <div >
    <div>
    @for (item of state; track item) {
            <button (click)="ChangeState(item)">{{item}}</button>
        }
        @if (ActualState === 'spells') {
            <form >
                <label for="">level-0</label>
                <input type="checkbox" name="level-0" id="0">
                <label for="">level-1</label>               
                <input type="checkbox" name="level-1" id="1">
                <label for="">level-2</label>
                <input type="checkbox" name="level-2" id="2">
                <label for="">level-3</label>
                <input type="checkbox" name="level-3" id="3">
                <label for="">level-4</label>
                <input type="checkbox" name="level-4" id="4">
                <label for="">level-5</label>
                <input type="checkbox" name="level-5" id="5">
                <label for="">level-6</label>
                <input type="checkbox" name="level-6" id="6">
                <label for="">level-7</label>
                <input type="checkbox" name="level-7" id="7">
                <label for="">level-8</label>
                <input type="checkbox" name="level-8" id="8">
                <label for="">level-9</label>
                <input type="checkbox" name="level-9" id="9">
            </form>
        }
    </div>
  </div>
</nav>